/*  */
#hero {
  background-image: linear-gradient(
      rgba(214, 46, 51, 0.6),
      rgba(214, 46, 51, 0.6)
    ),
    url("../images/events-heavenly-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero > div {
  width: 100%;
  transition: all 0.5s;
}
#hero div.opened {
  width: calc(100% - 300px);
  margin-left: 300px;
}
#hero,
#hero div.opened,
#hero .side-menu {
  transition: all 0.5s;
}
#hero .side-menu {
  position: fixed;
  background-color: #111;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  transform: translateX(-300px);
}
#hero .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#hero .side-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

#hero .side-menu a:hover {
  color: rgba(214, 46, 51, 0.4);
}
#hero .side-menu-btn {
  /* align-self: flex-start; */
}
#hero .hero-title {
  font-size: 64px;
}

#singers .singer-title {
  background-color: rgba(214, 46, 51, 0.6);
  margin: 0;
}

#singers .singer-details {
  background-color: #ccc;
}

#countDown {
  background-image: linear-gradient(
      rgba(214, 46, 51, 0.6),
      rgba(214, 46, 51, 0.6)
    ),
    url("../images/invitation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#countDown .time {
  border: 1px solid #fff;
}

#contact .contact-header {
  font-size: 48px;
}

#contact .contact-form textarea,
#contact .contact-form input {
  width: 100%;
  padding: 7px 15px;
  border-radius: 0;
  border: 1px solid #999;
  outline: none;
}
#contact .social li {
  cursor: pointer;
}
#contact .social li span {
  border: 1px solid #999;
  padding: 10px;
  transition: all 0.3s;
}
#contact .social li:hover span {
  background-color: #d62e33;
  border: 1px solid #d62e33;
  color: #fff;
}
contact .social li span i {
  color: #999;
}

#contact .contact-btn {
  background-color: #d62e33;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}
